div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.text-center{text-align:center;}
.wrapper:before, .wrapper:after, .clear:before, .clear:after { content: " "; display: table; }
.wrapper,.clear { *zoom: 1; }
.wrapper,.clear {clear: both;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 0 20px;
	@media screen and (min-width: $deskwidth) {
		width: 1100px;
		padding: 0px;
	}
}
body {
	font-family: $font__main;
	font-size: 14px;
}
.site {
	position: relative;
}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.logo-section {
	margin-top: 18px;
	margin-bottom: 12px;
}
.logo {
	width: 150px;
	float: left;
	position: relative;
	z-index: 12;
	@media screen and (min-width: $tabwidth) {
		width: 270px;
	}
	a {
		display: block;
		text-decoration: none;
	}
	.img,img {
		display: block;
		width: 100%;
		float: left;
	}
	img {
		height: auto;
	}
	.text {
		font-size: 20px;
		font-weight: bold;
	}
	.mobile-only {
		display: none;
	}
}
body.open-mobile-menu {
	.desktop-logo {
		display: none;
	}
	.mobile-only {
		display: block;
	}
}
.site-header {
	position: relative;
	z-index: 100;
	width: 100%;
}
.home .site-header {
	position: absolute;
	top: 0;
	left: 0;
}
.site-header .social-media {
	display: inline-block;
	float: right;
	text-align: right;
	position: relative;
	padding-right: 80px;
	z-index: 10;
	@media screen and (min-width: $tabwidth) {
		width: 150px;
		top: 13px;
		padding-right: 0;
	}
	a {
		display: inline-block;
		color: #FFF;
		font-size: 20px;
		position: relative;
		margin-left: 10px;
		@include transition(all ease-out .3s);
		&:hover {
			opacity: 0.5;
		}
	}
	.phone .icon {
		display: inline-block;
		transform: rotateY(180deg);
	}
	.toggleMenu {
		display: block;
		@media screen and (min-width: $tabwidth) {
			display: none;
		}
	}
}
.subpage .site-header .social-media {
	a {
		color: $color-red;
	}
}

.site-footer {
	width: 100%;
	background: $color-navy;
	color: #FFF;
	font-size: 13px;
	.wrapper {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	a {
		color: #FFF;
		text-decoration: none;
		@include transition(all ease-out .3s);
	}
}